/* Use my own font */

html{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Carousel Customization */

.carousel-caption {
  font-weight: 900;
  margin: .67em 0;
  font-size: 2em;
}

.carousel-caption h1 {
  font-weight: 900;
  font-size: 3em;
}

/* Section Titles */

h2 {
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-variant: small-caps;
font-weight: 700;
font-size: 3em;
}

h3 {
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-variant: small-caps;
font-weight: 700;
font-size: 3em;
color: white;
}

.col-title {
  background: #101010;
}

/* About Me Section */

.container-custom {
  padding: 20px;
  margin-top: 10px;
}

#aboutme {
float: right;
}

/* Custom Styles */

h4 {
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 500;
font-size: 2em;
color: white;
}
